name = "brightbet-worker"
main = "src/index.ts"
compatibility_date = "2024-06-01"

routes = [
  { pattern = "brightbet.tech/*", zone_name = "brightbet.tech" },
  { pattern = "www.brightbet.tech/*", zone_name = "brightbet.tech" },
]

[build]
command = "cd ../frontend && npm install && npm run build"
cwd = "."

[site]
bucket = "../frontend/dist"

[vars]
PYTHON_API_URL = "http://localhost:8000"
