name = "brightbet-worker"
main = "src/index.ts"
compatibility_date = "2024-06-01"

[env.production]
routes = [
  { pattern = "api/*", zone_name = "brightbet.tech" }
]

[build]
command = "cd ../frontend && npm install && npm run build"
cwd = "."

[site]
bucket = "../frontend/dist"

[vars]
GROQ_API_KEY = ""
FINNHUB_API_KEY = ""
PYTHON_API_URL = "http://localhost:8000"
